<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MCG Radios</title>
	<link rel="stylesheet" href="static/picnic.min.css">
	<style>
		.container {
			width:        80%;
			margin-left:  auto;
			margin-right: auto;
		}
	</style>
</head>

<body>

<div class="container">
	<form action="/" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
	{% for radio in radios %}
		<fieldset class="flex two">
            <legend>{{ radio.index }}</legend>
            <label><input type="text" placeholder="Label" name="label_{{ radio.index }}" value="{{ radio.label }}"></label>
            <label><input type="url" placeholder="URL" name="url_{{ radio.index }}" value="{{ radio.url }}"></label>
        </fieldset>
	{% endfor %}
        <input type="submit" value="Save">
	</form>
</div>

</body>
</html>